<div>
    <div>
        <h3>{{pageTitle}}</h3>
    </div>
    <div style="margin-top:15px; margin-right: 25px" class="content-table">
        <table class="table client table-responsive">
            <thead>
                <tr>
                    <th class="col-md-1 col-sm-1 col-xs-1">Lp.</th>
                    <th class="col-md-3 col-sm-3 col-xs-3">Guid</th>
                    <th class="col-md-2 col-sm-2 col-xs-2">Name</th>
                    <th class="col-md-3 col-sm-3 col-xs-3">Description</th>
                    <th class="col-md-1 col-sm-1 col-xs-1"></th>
                    <th class="col-md-1 col-sm-1 col-xs-1"></th>
                    <th class="col-md-1 col-sm-1 col-xs-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let food of foods let i = index" [attr.data-index]="i">
                    <td class="col-md-1 col-sm-1 col-xs-1">{{i+1}}</td>
                    <td class="col-md-3 col-sm-3 col-xs-3">{{food.id}}</td>
                    <td class="col-md-2 col-sm-2 col-xs-2">{{food.name}}</td>
                    <td class="col-md-3 col-sm-2 col-xs-3">{{food.description}}</td>
                    <td class="col-md-1 col-sm-1 col-xs-1"><button class="btn btn-primary" (click)="getFood(food.id)">Details</button></td>
                    <td class="col-md-1 col-sm-1 col-xs-1"><button class="btn btn-success" (click)="updateFood(food.id)">Update</button></td>
                    <td class="col-md-1 col-sm-1 col-xs-1"><button class="btn btn-danger" (click)="deleteFood(food.id)">Delete</button></td>
                </tr>
                <tr *ngIf="foods.length == 0">
                    <td style="text-align: center" colspan="8">{{tempInfo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
